.Weather {
  border: 2px solid #596e79;
  font-family: "Momo Trust Sans", sans-serif;
  padding: 16px;
  margin: 30px auto;
  border-radius: 4px;
  color: #596e79;
}

.placeholder{
    color: whitesmoke;
}


.Weather h1 {
  display: block;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  text-align: left;
  line-height: 28px;
  margin: 20px 0 0 ;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature{
    font-weight: bold;
    color: black;
    font-style: normal;
    font-size: 66px;
    margin-left: 10px;

}

.Weather.unit{
    color: #000;
    font-size: 16px;
    position: relative;
    top:-34px;
    margin-left: 5px;   

}
